<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DMsansBold.ttf</string>
		<string>MonoLight.ttf</string>
		<string>SansLight.ttf</string>
		<string>SansRegular.ttf</string>
		<string>MonoRegular.ttf</string>
		<string>SansThin.ttf</string>
		<string>DMSansExtraBold.ttf</string>
	</array>
</dict>
</plist>
